body{
    background-image: url(img/white-crumpled-paper-texture-background-design-space-white-tone_1258-78696.png);
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----------------------- Container ------------------------ */

.container{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

/* ----------------------- Person --------------------------- */


.personDiv{
    position: relative;
    background-color: #c7bda7;
    width: 25%;
    padding: 30px 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    /* padding: 30px 100px; */
    height: 500px;
}


#personList{
    margin: 0;
    list-style: none;
    padding: 0;


}

.personButtons{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    left: 10%;
    bottom: 0;

}

.personButtons>*{
    margin: 2px;
    width: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* ------------------------------ Result Div --------------------- */

.resultDiv{
    position: relative;
    background-color: #c7bda7;
    width: 500px;
    max-width: 500px;
    padding: 30px 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    height: 200px;
    text-align: center;
}

#calculate{
    display: flex;
    height: 50px;
    width: 100px;
    background-color: lightblue;
    flex-wrap: wrap;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    bottom: 20px;
    margin-left: 30%;
    align-items: center;
    justify-content: center;
    position:absolute;
}

/* ----------------------------------History Div --------------------------*/

.historyDiv{
    position: relative;
    background-color: #c7bda7;
    max-width: 250px;
    padding: 30px 50px;
    margin: auto;

    margin-top: 100px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    height: 200px;
}

#historyList{
    margin: 0;
    list-style: none;
    padding: 0;


}

/* -------------------------------- Theme Div------------------------- */

.themeDiv{
    position: relative;
    background-color: #c7bda7;
    width: 25%;
    padding: 30px 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    /* padding: 30px 100px; */
    height: 500px;
}

#themeHeader{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#themeHeader>div{
    width: 300px;
    max-width: 300px;
}

#themeList{
    margin: 0;
    list-style: none;
    padding: 0;


}

.themeButtons{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    left: 10%;
    bottom: 0;
}

.themeButtons>*{
    margin: 2px;
    width: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}